<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
/>
<div class="social-icons">
  <a href="https://www.facebook.com/votrepage" target="_blank" class="facebook"
    ><i class="fab fa-facebook-square"></i
  ></a>
  <a
    href="https://www.instagram.com/votrepage"
    target="_blank"
    class="instagram"
    ><i class="fab fa-instagram-square"></i
  ></a>

  <div class="contact-icons">
    <a href="tel:+1234567890" class="phone"
      ><i class="fas fa-phone">+1234567890 </i></a
    >
    <a href="mailto:exemple@domaine.com" class="email"
      ><i class="fas fa-envelope">exemple@domaine.com</i></a
    >
  </div>
</div>
<div>
  <p class="text-center text-muted">© Copyright 2024 khouloud by GOMyCode</p>
</div>
