<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="container">
    <%- include('../partials/header'); %>

    <main>
      <div class="titles"><h1>NOS SERVICES</h1></div>
      <div class="blog-carta">
        <div class="bolg-item">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZC9vUdD016XHZyJnVdjrnSs0MPotwQcLbWhHFDjM6BLIRkt8r34qP9U4GKJjPauY0wWc&usqp=CAU"
            width="300px"
            height="300px"
            alt=""
          />
        </div>
        <div class="bolg-item">
          <img
            src="https://i.pinimg.com/originals/5a/5e/40/5a5e40adc134a420fe554f864f8482ed.jpg"
            width="300px"
            height="300px"
            alt=""
          />
        </div>
        <div class="bolg-item">
          <img
            src="https://www.monsieurflower.com/wp-content/uploads/2020/11/75-scaled.jpg"
            alt=""
            width="300px"
            height="300px"
          />
        </div>
        <div class="bolg-item">
          <img
            src="https://medias.maisonsdumonde.com/images/f_auto,q_auto,w_732/v1/mkp/M21064945_1/bouquet-fleurs-sechees-hector-l.jpg"
            alt=""
            width="300px"
            height="300px"
          />
        </div>
        <div class="bolg-item">
          <img
            src="https://img.freepik.com/photos-premium/jardinier-plante-jardin-fleurs-focus-selectif-nature_1031523-1656.jpg"
            alt=""
            width="300px"
            height="300px"
          />
        </div>
        <div class="bolg-item">
          <img
            src="https://img.freepik.com/photos-premium/jardinier-mature-chapeau-vetements-travail-assis-parmi-fleurs-fleurs-surfer-net-pour-quelques-informations_274679-5703.jpg"
            alt=""
            width="300px"
            height="300px"
          />
        </div>
      </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
